# Django Settings
DEBUG=False
SECRET_KEY=tu-secret-key-super-segura-aqui-generar-nueva
ALLOWED_HOSTS=tu-ec2-public-ip,tu-dominio.com

# Database (RDS) - Solo necesario en producción
# Descomenta y configura cuando vayas a desplegar en AWS
# DB_NAME=smartconnect_db
# DB_USER=connect_admin
# DB_PASSWORD=tu-password-rds
# DB_HOST=smartconnect-db.xxxxxxxxxx.us-east-1.rds.amazonaws.com
# DB_PORT=5432

# AWS Settings
AWS_REGION=us-east-1

